<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IGListNetworkSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>218C685C1E0EC44E00BA844E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218C68721E0EC44E00BA844E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218C687D1E0EC44E00BA844E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
